! Standard Xresources file:
! $Id: Xresources 2238 2013-05-25 01:14:57Z jmartin $
! 
! Copyright (c) 2012 University of Alberta Department of Computing Science <helpdesk@cs.ualberta.ca>
!
! Permission to use, copy, modify, and distribute this software for any
! purpose with or without fee is hereby granted, provided that the above
! copyright notice and this permission notice appear in all copies.
!
! THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
! WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
! MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
! ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
! WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
! ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
! OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
! 
! keep colours in #XXXXXX form or xterms in VNC show up black on black
xterm*pointerColorBackground: #000000
xterm*background: #000000
xterm*foreground: #ffffff
xterm*cursorColor: #cfaf00
xterm*pointerColor: #ff0000
xterm*faceName: "VeraMono"
xterm*faceSize: 11
